# Dependencies
node_modules/

# Environment variables
.env

# Uploaded files
frontend/uploads/*
!frontend/uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build files
dist/
build/
